header {
  background: purple;
  color: white;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.logo {
  cursor: move;
}

.action {
  cursor: pointer;
  background: orangered;
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
}

.action:hover {
  background: rgb(191, 64, 18);
}
