main {
  width: 100%;
  height: 100vh;
  display: flexbox;
}

/* table  */
table {
  width: 90%;
  border-collapse: collapse;
  margin: 5px 5%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.small-column {
  width: 40px; /* Small width for ID */
}

.medium-column {
  width: 80px; /* Medium width for status, time, and buttons */
}

.medium-large-column {
  width: 120px;
}

.large-column {
  width: auto; /* Large width for task name to fill available space */
}

button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 3px;
}

button:hover {
  background-color: #0056b3;
}
