* {
  font-family: "Courier New", Courier, monospace;
}

header {
  padding: 10px 25px;
  background: purple;
  color: white;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.action {
  cursor: pointer;
  padding: 10px 25px;
  background: orange;
  color: white;
  border-radius: 15px;
}

.action:hover {
  background: rgb(218, 144, 5);
}

/* table  */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.small-column {
  width: 50px; /* Small width for ID */
}

.medium-column {
  width: 150px; /* Medium width for status, time, and buttons */
}

.large-column {
  width: auto; /* Large width for task name to fill available space */
}

button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 3px;
}

button:hover {
  background-color: #0056b3;
}
